{% if announcements is not empty %}
<h4>{{ trans("announcements") }}</h4>
{% endif %}
{% for row in announcements|batch(2) %}

    <div class="row">
{% for announcement in row %}

    <div class="col-12 col-sm-6 col-md-6 col-lg-6">
        <article class="article article-style-b">
            <div class="article-badge">

                <div class="article-header">

                    <div class="article-image"
                         data-background="{{ announcement.thumbnailUrl }}">
                        {% if announcement.pinned %}

                            <div class="badge bg-warning m-2 text-white"><i
                                        class="fas fa-thumbtack"></i>
                                {{ trans("pinned") }}
                            </div>
                        {% endif %}

                    </div>
                </div>
                <div class="article-details">
                    <div class="article-title">
                        <h2><a href="{{  path('announcements.show', {id: announcement.id}) }}">{{ announcement.title }}</a></h2>
                    </div>
                    <p>{{ announcement.excerpt | raw }}</p>
                    <div class="article-cta">
                        <a href="{{  path('announcements.show', {id: announcement.id}) }}">{{ trans("see_more") }} <i class="fas fa-chevron-right"></i></a>
                    </div>
                </div>
            </div>
        </article>
    </div>
{% endfor %}

    </div>
{% endfor %}