{{ csrf_input () }}
<div class="row">
    <div class="col-sm-12 col-lg-6 col-md-6">
        {{ field('title', item.title, trans("name")) }}
        {{ field('content', item.content, trans("message"), {type: "textarea",style: "height:200px", is: "textarea-autogrow"}) }}
    </div>
    <div class="col-sm-12 col-lg-6 col-md-6">
        {% if errors.thumbnail %}
            {{ errors.thumbnail }}
        {% endif %}
        {{ field('thumbnail', null, trans("announcementsadmin.thumbnail"), {type: 'file'}, {is:"drop-files"}) }}
        {{ custom_checkbox("pinned", item.pinned, trans("pinned")) }}
        {{ custom_checkbox("published", item.published, trans("announcementsadmin.published")) }}
    </div>
</div>